<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xsl.xunfeiyuyinlibrary">

    <uses-permission android:name="android.permission.INTERNET" />


    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <!-- 移动统计分析 -->
        <meta-data
            android:name="IFLYTEK_APPKEY"
            android:value="'58f570a0'" />
        <meta-data
            android:name="IFLYTEK_CHANNEL"
            android:value="celery_android" />

    </application>

</manifest>
